<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d9b6b">  <td>22/03/29 15:20:59</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;DriverFactory.openBrowser()[pri:0, instance:amazonTest.AmzCartTest@2e222612]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1292040526</td>   <td></td> </tr>
<tr bgcolor="e195a4">  <td>22/03/29 15:21:10</td>   <td>10903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmzCartTest.searchItem()[pri:1, instance:amazonTest.AmzCartTest@2e222612]">searchItem</td> 
  <td>main@1292040526</td>   <td></td> </tr>
<tr bgcolor="e195a4">  <td>22/03/29 15:21:45</td>   <td>46298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmzCartTest.addToCart()[pri:2, instance:amazonTest.AmzCartTest@2e222612]">addToCart</td> 
  <td>main@1292040526</td>   <td></td> </tr>
<tr bgcolor="e195a4">  <td>22/03/29 15:22:16</td>   <td>77261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmzCartTest.countOfItems()[pri:3, instance:amazonTest.AmzCartTest@2e222612]">countOfItems</td> 
  <td>main@1292040526</td>   <td></td> </tr>
<tr bgcolor="e195a4">  <td>22/03/29 15:22:26</td>   <td>86754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmzCartTest.removeItem()[pri:4, instance:amazonTest.AmzCartTest@2e222612]">removeItem</td> 
  <td>main@1292040526</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>22/03/29 15:22:36</td>   <td>96907</td> <td>&nbsp;</td><td title="&lt;&lt;DriverFactory.CloseBrowser()[pri:0, instance:amazonTest.AmzCartTest@2e222612]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1292040526</td>   <td></td> </tr>
</table>
