<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bea1a6">  <td>22/03/13 14:55:28</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;DriverFactory.openBrowser()[pri:0, instance:amazonTest.AmzCartTest@68c72235]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237825806</td>   <td></td> </tr>
<tr bgcolor="c0f766">  <td>22/03/13 14:55:36</td>   <td>7653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmzCartTest.validList()[pri:0, instance:amazonTest.AmzCartTest@68c72235]">validList</td> 
  <td>main@1237825806</td>   <td></td> </tr>
<tr bgcolor="c0f766">  <td>22/03/13 14:55:36</td>   <td>7767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmzCartTest.searchItem(java.lang.String)[pri:0, instance:amazonTest.AmzCartTest@68c72235]">searchItem</td> 
  <td></td>   <td></td> </tr>
<tr bgcolor="bea1a6">  <td>22/03/13 14:55:36</td>   <td>7773</td> <td>&nbsp;</td><td title="&lt;&lt;DriverFactory.CloseBrowser()[pri:0, instance:amazonTest.AmzCartTest@68c72235]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237825806</td>   <td></td> </tr>
</table>
